:root{
    --main-font: "Montserrat", sans-serif;
    --bkg-color: #f5f7fa;
    --bkg-all: #fff;
    --bkg-sidebar: #1e2939;
    --text-color: #000;
    --text-color_description: #595959;
    --date-color: #a8a8a8;
    --text-orange: #fb6d3a;
    --bkg-code: #fdfdfd;
    --text-mail: #8e949c;
}
body {
    font-family: var(--main-font);
    background-color: var(--bkg-color);
}
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
picture {
    max-width: 100%;
    height: auto;
}
.container {
    background-color: var(--bkg-all);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    width: 1200px;
}
.text {
    color: var(--bkg-all);
}
.inner-block{
    display: flex;
    flex-direction: row-reverse;
    /* width: 100%; */
}
.main {
    padding: 10px;
    /* width: 100%; */
}
.me{
width: 100%;}
.sidebar {
    background-color: var(--bkg-sidebar);
    /* padding: 10px; */
    min-width: 25%;
}
.profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color);
    margin-bottom: 20px;
}
.name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: var(--text-color);
    margin-bottom: 25px;
}
.description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color_description);
    width: 90%;
    /* height: 120px; */
    margin-bottom: 40px;
    /* margin-right: 340px; */
}
.projects {
    display: block;
    padding: 0 0 0 0px;
    margin-bottom: 50px;
}
.title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    padding: 0 0 0 0;
}
.projectslist{
    padding: 0 0 0 17px;
}
.projects-item{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}
.myproject-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color_description);
    margin-left: 5px;
}
.myproject-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color_description);
}
.brkt{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}
.companyposition{
    margin-bottom: 15px;
}
.occupation{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.orangetext{
    color: var(--text-orange);
}
.date{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--date-color);
    margin-bottom: 10px;
}
.vertical{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color);
}
.workduties{
    padding-left: 18px;
}
.dutytype{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    max-width: 70%;
    color: var(--text-color_description);
}
.code{
    padding: 10px;
    /* max-width: 55%; */
    background-color: var(--bkg-code);
    border-radius: 1%;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.picture {
    max-width: 90%;
}
.contacts,
.techskills,
.softskills {
    margin: 50px 0 0 40px;
}
.sbcontacts,
.sbtech,
.sbsoft,
.footer {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: var(--bkg-all);
    margin-bottom: 10px;
}
.tel,
.mail {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-mail);
}
.skills-list {
    padding: 0;
    padding-left: 15px;
    line-height: 50px;
}
.skill {
    color: var(--text-orange);
    ;
}
.footer,
.header {
    color: var(--text-mail);
    background-color: var(--bkg-sidebar);
    text-align: center;
    padding: 5px;
}
.nav-list {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
}
.nav-link{
    text-decoration: none;
    color: var(--text-mail);

}
.nav-item{
    padding: 10px;
}
.nav-list{
    list-style: none;
}
.img{
    padding: 0;
    width: 100%;
}
